@use 'base';
@use 'dark';
@use 'light';
@use 'black';
@use 'utils';

html {
  @include base.palette;

  &[data-user-theme='system'] {
    color-scheme: dark light;

    @media (prefers-color-scheme: dark) {
      @include dark.tokens;
      @include utils.invert-on-dark;

      @media (prefers-contrast: more) {
        @include dark.contrast-overrides;
      }
    }

    @media (prefers-color-scheme: light) {
      @include light.tokens;
      @include utils.invert-on-light;

      @media (prefers-contrast: more) {
        @include light.contrast-overrides;
      }
    }
  }
}

html:where([data-user-theme='default']),
html:where([data-user-theme='contrast']) {
  color-scheme: dark;

  @include dark.tokens;
  @include utils.invert-on-dark;
}

html:where([data-user-theme='contrast']) {
  @include dark.contrast-overrides;
}

html:where([data-user-theme='mastodon-light']) {
  color-scheme: light;

  @include light.tokens;
  @include utils.invert-on-light;
}

html:where([data-user-theme='black']) {
  color-scheme: dark;

  @include black.palette;
  @include black.tokens;
  @include utils.invert-on-dark;
}
