@use 'base';
@use 'dark';
@use 'light';
@use 'black';
@use 'utils';

html {
  @include base.palette;
}

[data-color-scheme='dark'],
html:not([data-color-scheme]) {
  color-scheme: dark;

  &:not([data-user-theme='black']) {
    @include dark.tokens;
    @include utils.invert-on-dark;
  }

  &[data-user-theme='black'] {
    @include black.palette;
    @include black.tokens;
    @include utils.invert-on-dark;
  }

  &[data-contrast='high'],
  [data-contrast='high'] & {
    @include dark.contrast-overrides;
  }
}

[data-color-scheme='light'] {
  color-scheme: light;

  @include light.tokens;
  @include utils.invert-on-light;

  &[data-contrast='high'],
  [data-contrast='high'] & {
    @include light.contrast-overrides;
  }
}
